/*
 * Base structure
 */
html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

html,
body {
  height: 100%;
  /* background-color: #1a1a1a; */
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

/*
 * Header
 */

nav,
a {
  /* background-color: #1a1a1a; */
  font-size: 28px !important;
}

/*
 * Content
 */
.column {
  float: left;
}

/* Left and right column */
.emptycolumn {
  width: 25%;
}

.maincolumn {
  width: 50%;
  padding: 0 10rem;
  margin-top: auto;
  margin-bottom: auto;
}

.row {
  position: relative;
  padding: 2rem;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .emptycolumn,
  .maincolumn {
    width: 100%;
  }
}

/*
 * Footer
 */
footer {
  padding-top: 25px;
  text-align: center;
  font-size: x-small;
  position:absolute;
  height: 25px;
  bottom: 0;
  width: 100%;
}

#header,
#footer {
  float: left;
  padding: 1rem;
  min-width: 100%;
}